.codeList form{
    display: flex;
    align-items: center;
    gap: 30%;
}

.codeList{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.codeList input[type=image]{
    width: 40px;
    height: 40px;
}

.codeList form p{
    margin: 0;
    line-height: 0;
    font-size: 25px;
}

.year-container {
    width: calc(100%/3);
    border: solid 1px ;
}

.all-year-container{
    width: 100vw;
    display: flex;
}