.codeList form{
    display: flex;
    align-items: center;
}

.codeList input[type=image]{
    width: 40px;
    height: 40px;
}

.codeList form p{
    margin: 0;
    line-height: 0;
    font-size: 18px;
}

.year-container {
    width: calc(100%/3);
    background-color: rebeccapurple;
}

.all-year-container{
    width: 100vw;
    display: flex;
}